* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
}

.box {
	position: relative;
	width: 380px;
	height: 370px;
	background-color: #111111;
	border-radius: 8px;
}

.welcome {
	position: absolute;
	inset: 2px;
	border-radius: 8px;
	background-color: #111111;
	z-index: 10;
	padding: 50px 40px;
	display: flex;
	flex-direction: column;
}

.welcome h2 {
	color: white;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.welcome h3 {
	color: gray;
	font-weight: 300;
	text-align: center;
	margin-top: 85px;
	letter-spacing: 0.05em;
}

.login-button {
	border: none;
	outline: none;
	background-color: white;
	padding: 11px 25px;
	width: 100px;
	margin-top: 80px;
	margin-left: 100px;
	border-radius: 4px;
	font-weight: 600;
	color: black;
	cursor: pointer;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.login-button:hover {
	background-color: gray;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.login-button:active {
	opacity: 0.8;
}

.symbol {
	position: absolute;
	bottom: 20px;
	right: 25px;
	z-index: 100;
	display: block;
	color: gray;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.romsn {
	position: absolute;
	bottom: 20px;
	left: 25px;
	z-index: 100;
	display: block;
	color: gray;
	text-decoration: none;
	letter-spacing: 0.05em;
}
