* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: black;
}

.romsn {
	position: absolute;
	bottom: 20px;
	left: 25px;
	z-index: 100;
	display: block;
	color: gray;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.github {
	position: absolute;
	top: 20px;
	right: 120px;
	z-index: 100;
	display: block;
	color: gray;
	text-decoration: none;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.github:hover {
	color: white;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.twitter {
	position: absolute;
	top: 20px;
	right: 25px;
	z-index: 100;
	display: block;
	color: gray;
	text-decoration: none;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.twitter:hover {
	color: white;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.symbol {
	position: absolute;
	bottom: 20px;
	right: 25px;
	z-index: 100;
	display: block;
	color: gray;
	text-decoration: none;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.symbol:hover {
	color: white;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}
