html,
body {
	margin: 0;
	background-color: black;
}

#canvas {
	
}

.left,
.right {
	float: left;
	width: 20%;
}

.main {
	float: left;
	width: 60%;
}

@media screen and (max-width: 800px) {
	.left,
	.main,
	.right {
		width: 100%;
	}
}
